In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('temp.csv')

In [3]:
df.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,30-06-2013,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,30-06-2013,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,30-06-2013,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,30-06-2013,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,30-06-2013,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

In [4]:
df.shape

(7752, 25)

In [5]:
df.isnull().sum()

station              2
Date                 2
Present_Tmax        70
Present_Tmin        70
LDAPS_RHmin         75
LDAPS_RHmax         75
LDAPS_Tmax_lapse    75
LDAPS_Tmin_lapse    75
LDAPS_WS            75
LDAPS_LH            75
LDAPS_CC1           75
LDAPS_CC2           75
LDAPS_CC3           75
LDAPS_CC4           75
LDAPS_PPT1          75
LDAPS_PPT2          75
LDAPS_PPT3          75
LDAPS_PPT4          75
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [6]:
df.describe()

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
count,7750.000000,7682.000000,7682.000000,7677.000000,7677.000000,7677.000000,7677.000000,7677.000000,7677.000000,7677.000000,...,7677.000000,7677.000000,7677.000000,7752.000000,7752.000000,7752.000000,7752.000000,7752.000000,7725.000000,7725.000000
mean,13.000000,29.768211,23.225059,56.759372,88.374804,29.613447,23.512589,7.097875,62.505019,0.368774,...,0.485003,0.278200,0.269407,37.544722,126.991397,61.867972,1.257048,5341.502803,30.274887,22.932220
std,7.211568,2.969999,2.413961,14.668111,7.192004,2.947191,2.345347,2.183836,33.730589,0.262458,...,1.762807,1.161809,1.206214,0.050352,0.079435,54.279780,1.370444,429.158867,3.128010,2.487613
min,1.000000,20.000000,11.300000,19.794666,58.936283,17.624954,14.272646,2.882580,-13.603212,0.000000,...,0.000000,0.000000,0.000000,37.456200,126.826000,12.370000,0.098475,4329.520508,17.400000,11.300000
25%,7.000000,27.800000,21.700000,45.963543,84.222862,27.673499,22.089739,5.678705,37.266753,0.146654,...,0.000000,0.000000,0.000000,37.510200,126.937000,28.700000,0.271300,4999.018555,28.200000,21.300000
50%,13.000000,29.900000,23.400000,55.039024,89.793480,29.703426,23.760199,6.547470,56.865482,0.315697,...,0.000000,0.000000,0.000000,37.550700,126.995000,45.716000,0.618000,5436.345215,30.500000,23.100000
75%,19.000000,32.000000,24.900000,67.190056,93.743629,31.710450,25.152909,8.032276,84.223616,0.575489,...,0.018364,0.007896,0.000041,37.577600,127.042000,59.832400,1.767800,5728.316406,32.600000,24.600000
max,25.000000,37.600000,29.900000,98.524734,100.000153,38.542255,29.619342,21.857621,213.414006,0.967277,...,21.621661,15.841235,16.655469,37.645000,127.135000,212.335000,5.178230,5992.895996,38.900000,29.800000

In [7]:
df = df.dropna()

In [8]:
df.isnull().sum()

station             0
Date                0
Present_Tmax        0
Present_Tmin        0
LDAPS_RHmin         0
LDAPS_RHmax         0
LDAPS_Tmax_lapse    0
LDAPS_Tmin_lapse    0
LDAPS_WS            0
LDAPS_LH            0
LDAPS_CC1           0
LDAPS_CC2           0
LDAPS_CC3           0
LDAPS_CC4           0
LDAPS_PPT1          0
LDAPS_PPT2          0
LDAPS_PPT3          0
LDAPS_PPT4          0
lat                 0
lon                 0
DEM                 0
Slope               0
Solar radiation     0
Next_Tmax           0
Next_Tmin           0
dtype: int64

In [9]:
df.shape

(7588, 25)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7588 entries, 0 to 7749
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   station           7588 non-null   float64
 1   Date              7588 non-null   object
 2   Present_Tmax      7588 non-null   float64
 3   Present_Tmin      7588 non-null   float64
 4   LDAPS_RHmin       7588 non-null   float64
 5   LDAPS_RHmax       7588 non-null   float64
 6   LDAPS_Tmax_lapse  7588 non-null   float64
 7   LDAPS_Tmin_lapse  7588 non-null   float64
 8   LDAPS_WS          7588 non-null   float64
 9   LDAPS_LH          7588 non-null   float64
 10  LDAPS_CC1         7588 non-null   float64
 11  LDAPS_CC2         7588 non-null   float64
 12  LDAPS_CC3         7588 non-null   float64
 13  LDAPS_CC4         7588 non-null   float64
 14  LDAPS_PPT1        7588 non-null   float64
 15  LDAPS_PPT2        7588 non-null   float64
 16  LDAPS_PPT3        7588 non-null   float64
 17  LDAPS_PPT4        7588 non-null   float64
 18  lat               7588 non-null   float64
 19  lon               7588 non-null   float64
 20  DEM               7588 non-null   float64
 21  Slope             7588 non-null   float64
 22  Solar radiation   7588 non-null   float64
 23  Next_Tmax         7588 non-null   float64
 24  Next_Tmin         7588 non-null   float64
dtypes: float64(24), object(1)
memory usage: 1.5+ MB

In [11]:
df.select_dtypes(include="float64").columns

Index(['station', 'Present_Tmax', 'Present_Tmin', 'LDAPS_RHmin', 'LDAPS_RHmax',
       'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH',
       'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1',
       'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4', 'lat', 'lon', 'DEM', 'Slope',
       'Solar radiation', 'Next_Tmax', 'Next_Tmin'],
      dtype='object')

In [12]:
df = df.astype({"station":'str',"Present_Tmax":'str',"Present_Tmin":'str',"LDAPS_RHmin":'str',"LDAPS_RHmax":'str',
               "LDAPS_Tmax_lapse":'str',"LDAPS_Tmin_lapse":'str',"LDAPS_WS":'str',"LDAPS_LH":'str',"LDAPS_CC1":'str',
               "LDAPS_CC2":'str',"LDAPS_CC3":'str',"LDAPS_CC4":'str',"LDAPS_PPT1":'str',"LDAPS_PPT2":'str',"LDAPS_PPT3":'str',
               "LDAPS_PPT4":'str',"lat":'str',"lon":'str',"DEM":'str',"Slope":'str',"Solar radiation":'str',"Next_Tmax":'str',
               "Next_Tmin":'str'})


print(df.dtypes)

station             object
Date                object
Present_Tmax        object
Present_Tmin        object
LDAPS_RHmin         object
LDAPS_RHmax         object
LDAPS_Tmax_lapse    object
LDAPS_Tmin_lapse    object
LDAPS_WS            object
LDAPS_LH            object
LDAPS_CC1           object
LDAPS_CC2           object
LDAPS_CC3           object
LDAPS_CC4           object
LDAPS_PPT1          object
LDAPS_PPT2          object
LDAPS_PPT3          object
LDAPS_PPT4          object
lat                 object
lon                 object
DEM                 object
Slope               object
Solar radiation     object
Next_Tmax           object
Next_Tmin           object
dtype: object

In [13]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()


df['Date'] = enc.fit_transform(df['Date'].values.reshape(-1,1))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7588 entries, 0 to 7749
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   station           7588 non-null   object
 1   Date              7588 non-null   float64
 2   Present_Tmax      7588 non-null   object
 3   Present_Tmin      7588 non-null   object
 4   LDAPS_RHmin       7588 non-null   object
 5   LDAPS_RHmax       7588 non-null   object
 6   LDAPS_Tmax_lapse  7588 non-null   object
 7   LDAPS_Tmin_lapse  7588 non-null   object
 8   LDAPS_WS          7588 non-null   object
 9   LDAPS_LH          7588 non-null   object
 10  LDAPS_CC1         7588 non-null   object
 11  LDAPS_CC2         7588 non-null   object
 12  LDAPS_CC3         7588 non-null   object
 13  LDAPS_CC4         7588 non-null   object
 14  LDAPS_PPT1        7588 non-null   object
 15  LDAPS_PPT2        7588 non-null   object
 16  LDAPS_PPT3        7588 non-null   object
 17  LDAPS_PPT4        7588 non-null   object
 18  lat               7588 non-null   object
 19  lon               7588 non-null   object
 20  DEM               7588 non-null   object
 21  Slope             7588 non-null   object
 22  Solar radiation   7588 non-null   object
 23  Next_Tmax         7588 non-null   object
 24  Next_Tmin         7588 non-null   object
dtypes: float64(1), object(24)
memory usage: 1.5+ MB

In [15]:
X = df.drop(columns=['Next_Tmax','Next_Tmin'],axis=1)
Y = df['Next_Tmin']

In [16]:
print(X)
print(Y)

     station   Date Present_Tmax Present_Tmin  LDAPS_RHmin  LDAPS_RHmax  \
0        1.0  288.0         28.7         21.4  58.25568771  91.11636353
1        2.0  288.0         31.9         21.6  52.26339722  90.60472107
2        3.0  288.0         31.6         23.3  48.69047928  83.97358704
3        4.0  288.0         32.0         23.4  58.23978806  96.48368835
4        5.0  288.0         31.4         21.9  56.17409515  90.15512848
...      ...    ...          ...          ...          ...          ...
7745    21.0  302.0         23.1         17.8  24.68899727  78.26138306
7746    22.0  302.0         22.5         17.4  30.09485817   83.6900177
7747    23.0  302.0         23.3         17.1  26.74131012  78.86985779
7748    24.0  302.0         23.3         17.7  24.04063416  77.29497528
7749    25.0  302.0         23.2         17.4  22.93301392   77.2437439

     LDAPS_Tmax_lapse LDAPS_Tmin_lapse     LDAPS_WS     LDAPS_LH  ...  \
0         28.07410146      23.00693617  6.818886966  69.45180527  ...
1         29.85068856      24.03500932  5.691889932  51.93744783  ...
2         30.09129171      24.56563342  6.138223678  20.57304966  ...
3          29.7046289      23.32617729  5.650050263  65.72714393  ...
4         29.11393432      23.48647993  5.735004306  107.9655353  ...
...               ...              ...          ...          ...  ...
7745      27.81269697      18.30301365  6.603253225  9.614074349  ...
7746      26.70490455      17.81403773  5.768082837  82.14670666  ...
7747      26.35208148      18.77567834  6.148917506  72.05829446  ...
7748      27.01019337      18.73351887  6.542819003  47.24145703  ...
7749      27.93951572      18.52296541  7.289263616  9.090034405  ...

        LDAPS_CC4 LDAPS_PPT1 LDAPS_PPT2 LDAPS_PPT3 LDAPS_PPT4      lat  \
0     0.130928198        0.0        0.0        0.0        0.0  37.6046
1     0.127727264        0.0        0.0        0.0        0.0  37.6046
2      0.14212525        0.0        0.0        0.0        0.0  37.5776
3     0.134248676        0.0        0.0        0.0        0.0   37.645
4     0.170020995        0.0        0.0        0.0        0.0  37.5507
...           ...        ...        ...        ...        ...      ...
7745  0.004379955        0.0        0.0        0.0        0.0  37.5507
7746  0.017677795        0.0        0.0        0.0        0.0  37.5102
7747          0.0        0.0        0.0        0.0        0.0  37.5372
7748          0.0        0.0        0.0        0.0        0.0  37.5237
7749  0.000796153        0.0        0.0        0.0        0.0  37.5237

          lon      DEM   Slope Solar radiation
0     126.991  212.335   2.785     5992.895996
1     127.032  44.7624  0.5141       5869.3125
2     127.058  33.3068  0.2661     5863.555664
3     127.022   45.716  2.5348     5856.964844
4     127.135   35.038  0.5055     5859.552246
...       ...      ...     ...             ...
7745   127.04   26.298  0.5721     4456.024414
7746  127.086  21.9668  0.1332     4441.803711
7747  126.891  15.5876  0.1554     4443.313965
7748  126.909  17.2956  0.2223     4438.373535
7749   126.97  19.5844  0.2713     4451.345215

[7588 rows x 23 columns]
0       21.2
1       22.5
2       23.9
3       24.3
4       22.5
        ...
7745    17.7
7746    17.1
7747    18.1
7748    18.8
7749    17.4
Name: Next_Tmin, Length: 7588, dtype: object

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)

In [18]:
print(Y.shape, Y_train.shape, Y_test.shape)

(7588,) (6070,) (1518,)

In [19]:
print(X.shape, X_train.shape, X_test.shape)

(7588, 23) (6070, 23) (1518, 23)

In [25]:
from sklearn import svm

In [26]:
model = svm.SVC(kernel='linear')

In [27]:
model.fit(X_train, Y_train)

SVC(kernel='linear')

In [28]:
X_train_prediction = model.predict(X_train)

data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [29]:
print('Accuracy:', data_accuracy)

Accuracy: 0.14546952224052717